@import "normalize";

article {
  padding: 1em;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &.title {
    padding: 0 1em 0 1em;
  }
}

footer {
  background-color: olive;
  color: white;
  padding: 0 1em 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

header {
  background-color: olive;
  color: white;
  padding: 0 1em 0 1em;
}
